.cabecalho-menu-humburguer{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image:url("../img/Menu.svg") ;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align: relative;
}

.couter{
    display: flex;
    align-items: center;
}